<div id="login-form" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-lg" style='width: 400px; margin: auto; margin-top: 100px'>
            <h2 class="h3 mb-3 mt-3 font-weight-normal">Войти в ВКонтакте</h2>
            <div class="modal-body">
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <input type="email" class="form-control is-invalid" required id="456" name="email" aria-describedby="emailHelp" placeholder="Ваш E-mail" style="width: 400px; height: 40px; border-radius: 4px; font-size: 14px; margin-bottom: 20px;">
                    
                    <input type="password" class="form-control is-invalid" name="password" id="password_login" placeholder="Пароль" style="width: 400px; height: 40px; border-radius: 4px; font-size: 14px">
                    
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-secondary" style="width: 400px; height: 40px; background-color: black; color: white; font-size: 14px; border-radius: 4px; margin-top: 30px">Вход</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>